* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
p{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  
  text-shadow: 1px 1px 3px #f9f5f5, 0px 1px 3px #292828;
}
img {
  display: block;
  max-width: 100%;
}
.container{
  height: 520px;

  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #212121;
}

.button-box{
padding-top: 30px;
display: flex;
justify-content: space-around;
align-items: center;
  
}
.tree {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.box {
  position: absolute;
  
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 100px solid #4caf50;

}
.ball-box{
  position: relative;
  margin: 0 auto;
  left: -90px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:nth-child(1) {
  top: 206px;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  z-index: 2;
  
}

.box:nth-child(2) {
  top: 152px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  z-index: 2;
}

.box:nth-child(3) {
  top: 99px;
  border-left: 77px solid transparent;
  border-right: 77px solid transparent;
  z-index: 1;
}

.box:nth-child(4) {
  top: 36px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}





.ball{
  position: absolute;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ball:nth-child(10) {
  top: 91px;
  left: 104px;
}
.ball:nth-child(9) {
  top: 157px;
  left: 111px;
  z-index: 3;
}
.ball:nth-child(8) {
  top: 187px;
  left: 44px;
  z-index: 2;
}
.ball:nth-child(7) {
  top: 200px;
  left: 124px;
  z-index: 2;
}
.ball:nth-child(6) {
  top: 234px;
  left: 63px;
  z-index: 3;
}
.ball:nth-child(5) {
  top: 84px;
  left: 65px;
}
.ball:nth-child(4) {
  top: 130px;
  left: 83px;
  z-index: 3;
}
.ball:nth-child(3) {
  top: 264px;
  left: 22px;
  z-index: 2;
}
.ball:nth-child(2) {
  top: 200px;
  left: 79px;
  z-index: 2;
}
.ball:nth-child(1) {
  top: 261px;
  left: 110px;
  z-index: 3;
}


